.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #fff;
}

/* Restaurar visibilidad: oculta para el texto del formulario para que JS pueda alternarla a visible */
.form-text {
    visibility: hidden;
}

@media (min-width: 992px) {
    body {
        overflow: hidden;
    }
}